<div class="h-screen hidden  md:flex justify-between items-center lg:px-16 md:px-9">
  <div class="w-4/12 h-full flex justify-center items-center ">
    <img class="w-8/12" src="../assets/images/chart.png">
  </div>
  <div class="w-8/12 h-full flex flex-col items-center justify-evenly">
    <img class="w-44 scale-150" src="assets/icons/logo.svg">
    <img src="../assets/images/ku-text.svg">
    <img src="../assets/images/en-text.svg">

    <div class="lg:w-8/12 md:w-11/12 lg:scale-100 md:scale-75 flex justify-between items-start">
      <div>
        <div class="flex items-start mb-5 ">
          <img class="mr-3 w-5 " src="assets/icons/phone.svg">
          <div>
            <div class="font-medium text-sm">0770 282 2020</div>
            <div class="font-medium text-sm">0770 281 2020</div>
          </div>
        </div>
        <div class="flex items-start mb-5">
          <img class="mr-2 w-5 " src="assets/icons/web.svg">
          <div class="font-medium text-sm">black-stallion.com</div>
        </div>
      </div>

      <div>
        <div class="flex items-start mb-5 ">
          <img class="mr-2 w-5 scale-75" src="assets/icons/location.svg">
          <div>
            <div class="font-medium text-sm">Sulaimanyah Province - Iraq</div>
            <div class="font-medium text-sm">Bakhtiari - Near Santari Ganjan</div>
          </div>
        </div>
        <div class="flex items-start mb-5 ">
          <img class="mr-2 w-5 " src="assets/icons/email.svg">
          <div class="font-medium text-sm">info@blackstallionfx.com</div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class=" md:hidden flex flex-col items-center">

  <img class="w-56 scale-125  h-28 flex items-center" src="assets/icons/logo.svg">

  <img class="w-9/12 h-24 flex items-center " src="../assets/images/sm-ku-text.svg">
  <img class="w-6/12 h-24 flex items-center" src="../assets/images/en-text.svg">

  <img class="w-5/12 mb-10 " src="../assets/images/chart.png">

  <div class="w-11/12 flex justify-between items-start">
    <div>
      <div class="flex items-start mb-5 ">
        <img class="mr-1 w-1/4 " src="assets/icons/phone.svg">
        <div>
          <div class="font-medium custom-font">0770 282 2020</div>
          <div class="font-medium custom-font">0770 281 2020</div>
        </div>
      </div>
      <div class="flex items-start mb-5">
        <img class="mr-1 w-4 " src="assets/icons/web.svg">
        <div class="font-medium custom-font">black-stallion.com</div>
      </div>
    </div>

    <div>
      <div class="flex items-start mb-5 ">
        <img class="mr-1 w-4 " src="assets/icons/location.svg">
        <div>
          <div class="font-medium custom-font">Sulaimanyah Province - Iraq</div>
          <div class="font-medium custom-font">Bakhtiari - Near Santari Ganjan</div>
        </div>
      </div>
      <div class="flex items-start mb-5 ">
        <img class="mr-1 w-4 " src="assets/icons/email.svg">
        <div class="font-medium custom-font">info@blackstallionfx.com</div>
      </div>
    </div>
  </div>


</div>